<a href="https://colab.research.google.com/github/TearG/CursoProgramariaPython/blob/main/licitacao.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
import pandas as pd

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import numpy as np

In [ ]:
dados = pd.read_csv("/content/drive/MyDrive/Minhas coisas pessoais/Meus Cursos/Meus Cursos Atuais/Programaria/licitacoes.csv",encoding='latin-1', on_bad_lines='warn' , sep=';')

## Faça Você Mesme | Tratando Valores Faltantes

In [ ]:
#Identificando os tipos de dados e a coluna com valores faltantes - Data Abertura
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15336 entries, 0 to 15335
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Número Licitação          15336 non-null  int64
 1   Código UG                 15336 non-null  int64
 2   Nome UG                   15336 non-null  object
 3   Código Modalidade Compra  15336 non-null  int64
 4   Modalidade Compra         15336 non-null  object
 5   Número Processo           15336 non-null  object
 6   Objeto                    15336 non-null  object
 7   Situação Licitação        15336 non-null  object
 8   Código Órgão Superior     15336 non-null  int64
 9   Nome Órgão Superior       15336 non-null  object
 10  Código Órgão              15336 non-null  int64
 11  Nome Órgão                15336 non-null  object
 12  UF                        15336 non-null  object
 13  Município                 15336 non-null  object
 14  Data Resultado Compra     15336 non-null  object
 15  Data Abertura             4688 non-null   object
 16  Valor Licitação           15336 non-null  object
dtypes: int64(5), object(12)
memory usage: 2.0+ MB

In [ ]:
# Conta a quantidade de valores ausentes e presentes na coluna Data Abertura . True retorna quantidade de valor ausente.
# São 10648 valores faltantes
dados['Data Abertura'].isnull().value_counts()

Data Abertura
True     10648
False     4688
Name: count, dtype: int64

In [ ]:
# Preenche os valores ausentes (NaN) na coluna Data Abertura do DataFrame dados com a string "Data não informada".
dados['Data Abertura'] = dados['Data Abertura'].fillna("Data não informada")

In [ ]:
# Realiza a verificação da substituição e se ainda tem valores nulos
dados.isnull().sum()

Número Licitação            0
Código UG                   0
Nome UG                     0
Código Modalidade Compra    0
Modalidade Compra           0
Número Processo             0
Objeto                      0
Situação Licitação          0
Código Órgão Superior       0
Nome Órgão Superior         0
Código Órgão                0
Nome Órgão                  0
UF                          0
Município                   0
Data Resultado Compra       0
Data Abertura               0
Valor Licitação             0
dtype: int64